doctype html
html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
	body
	form(action='/data', method='POST')
	input(type='text', placeholder='id', name='id')
	input(type='text', placeholder='name', name='name')
	input(type='text', placeholder='surname', name='surname')
	input(type='text', placeholder='age', name='age')
	button(type='submit') Submit
	div.container
			h1 Students
			table(class='table table-striped table-bordered table-hover')
				thead
					th baseid
					th id
					th name
					th surname
					th age
				tbody
					each students in data
						tr
						each student in students
							td.col-sm-2= student
